services:
  game:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pirate_game
    stdin_open: true 
    tty: true
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=PirateGameDB;User Id=sa;Password=PirateKing123!;TrustServerCertificate=True;
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server_container
    user: root
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=PirateKing123!
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'PirateKing123!' -C -Q 'SELECT 1' || exit 1"]
      interval: 10s
      retries: 5
      start_period: 10s

volumes:
  sql_data:
